---
http_interactions:
- request:
    method: get
    uri: https://api.instagram.com/v1/users/self/feed.json?access_token=251122079.4e0d23b.6713691cd7384d7b95b00ed45c4edf85
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token="251122079.4e0d23b.6713691cd7384d7b95b00ed45c4edf85"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Remaining:
      - '4999'
      Content-Language:
      - en
      X-Ratelimit-Limit:
      - '5000'
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"pagination":{"next_url":"https:\/\/api.instagram.com\/v1\/users\/self\/feed?access_token=251122079.4e0d23b.6713691cd7384d7b95b00ed45c4edf85\u0026max_id=1084310940021269939_10135616","next_max_id":"1084310940021269939_10135616"},"meta":{"code":200},"data":[{"attribution":null,"tags":["alpenglow","vsco","vscocam","itsthelittlethings"],"type":"image","location":{"latitude":40.4764,"name":"Steamboat
        Springs, Colorado","longitude":-106.827,"id":216201113},"comments":{"count":1,"data":[{"created_time":"1443668137","text":"\u2714\ufe0f","from":{"username":"man_of_multnomah","profile_picture":"http:\/\/scontent.cdninstagram.com\/hphotos-xfa1\/t51.2885-19\/s150x150\/11906120_176956279305579_598409710_a.jpg","id":"995279795","full_name":"Aaron
        Edge (on Vacation in VA)"},"id":"1085889502045926843"}]},"filter":"Normal","created_time":"1443662146","link":"https:\/\/instagram.com\/p\/8RrQnOxfTh\/","likes":{"count":69,"data":[{"username":"adamcaron_","profile_picture":"http:\/\/scontent.cdninstagram.com\/hphotos-xaf1\/t51.2885-19\/s150x150\/11326500_497479217082584_1106824622_a.jpg","id":"1644186282","full_name":"Adam
        Caron"},{"username":"artchickserenity","profile_picture":"http:\/\/scontent.cdninstagram.com\/hphotos-xtp1\/t51.2885-19\/11111337_1557903227806289_1632569998_a.jpg","id":"1577456627","full_name":"Arts
        Chick"},{"username":"venezuelaencuadros","profile_picture":"http:\/\/scontent.cdninstagram.com\/hphotos-xaf1\/t51.2885-19\/10932228_591368210963695_1265165100_a.jpg","id":"1659956589","full_name":"Maria
        Alejandra Manrique"},{"username":"gracemcmc","profile_picture":"http:\/\/scontent.cdninstagram.com\/hphotos-xfa1\/t51.2885-19\/s150x150\/11373992_421629811357724_127144698_a.jpg","id":"1536616974","full_name":"Grace
        Mcfadden"}]},"images":{"low_resolution":{"url":"https:\/\/scontent.cdninstagram.com\/hphotos-xaf1\/t51.2885-15\/s320x320\/e35\/11910547_900645953362324_254036308_n.jpg","width":320,"height":320},"thumbnail":{"url":"https:\/\/scontent.cdninstagram.com\/hphotos-xaf1\/t51.2885-15\/s150x150\/e35\/11910547_900645953362324_254036308_n.jpg","width":150,"height":150},"standard_resolution":{"url":"https:\/\/scontent.cdninstagram.com\/hphotos-xaf1\/t51.2885-15\/s640x640\/sh0.08\/e35\/11910547_900645953362324_254036308_n.jpg","width":640,"height":640}},"users_in_photo":[],"caption":{"created_time":"1443662146","text":"Being
        a car passenger is nice.  Sitting next to a good man who''s doing the driving
        is nicer.  #vsco #vscocam #alpenglow #itsthelittlethings","from":{"username":"rachelparri","profile_picture":"http:\/\/photos-b.ak.instagram.com\/hphotos-ak-xta1\/t51.2885-19\/s150x150\/1170236_483724818462689_978363941_a.jpg","id":"1775839476","full_name":""},"id":"1085841268640445706"},"user_has_liked":false,"id":"1085839242808390881_1775839476","user":{"username":"rachelparri","profile_picture":"http:\/\/photos-b.ak.instagram.com\/hphotos-ak-xta1\/t51.2885-19\/s150x150\/1170236_483724818462689_978363941_a.jpg","id":"1775839476","full_name":""}},{"attribution":null,"tags":["vanlife"],"type":"image","location":null,"comments":{"count":193,"data":[{"created_time":"1443667257","text":"@emmamaehoude","from":{"username":"thespenceredmon","profile_picture":"http:\/\/scontent.cdninstagram.com\/hphotos-xpa1\/t51.2885-19\/10891100_804795146283469_16104[...]
[...]
- request:
    method: get
    uri: http://api.yelp.com/v2/search?limit=3&ll=40.4764,-106.827,,,&term=food
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="h4AJtWLONmumqjm_JIZiJw", oauth_nonce="325543ad816fe69069ac30cf77aabcbf",
        oauth_signature="%2FpqS673EBE6zqadJ7PvZKmaWQ%2F8%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1443669738", oauth_token="P9Kmdzp_N_nAgE4NCZk4UCOFZSNONG3i",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Node:
      - web68-r3-iad1, api_com
      Content-Type:
      - application/json; charset=UTF-8
      X-Mode:
      - ro
      X-Proxied:
      - extlb4-r9-iad1
    body:
      encoding: ASCII-8BIT
      string: '{"region": {"span": {"latitude_delta": 0.013518230000002518, "longitude_delta":
        0.011584650000003194}, "center": {"latitude": 40.482544649999994, "longitude":
        -106.83226575}}, "total": 153, "businesses": [{"is_claimed": true, "rating":
        4.5, "mobile_url": "http://m.yelp.com/biz/laundry-steamboat-springs", "rating_img_url":
        "http://s3-media2.fl.yelpcdn.com/assets/2/www/img/99493c12711e/ico/stars/v1/stars_4_half.png",
        "review_count": 165, "name": "Laundry", "snippet_image_url": "http://s3-media3.fl.yelpcdn.com/photo/ZF7N5LF-wbtRX4yZkR4hOg/ms.jpg",
        "rating_img_url_small": "http://s3-media2.fl.yelpcdn.com/assets/2/www/img/a5221e66bc70/ico/stars/v1/stars_small_4_half.png",
        "url": "http://www.yelp.com/biz/laundry-steamboat-springs", "categories":
        [["American (New)", "newamerican"]], "phone": "9708700681", "snippet_text":
        "Steamboat local here.  This one of the places I take people from out of town,
        for cocktails and food.  Sometimes I focus on the drinks a little more than...",
        "image_url": "http://s3-media4.fl.yelpcdn.com/bphoto/7S8jvQJIUPW5mUnRRfP32A/ms.jpg",
        "location": {"city": "Steamboat Springs", "display_address": ["127 11th St",
        "Steamboat Springs, CO 80487"], "geo_accuracy": 8.0, "postal_code": "80487",
        "country_code": "US", "address": ["127 11th St"], "coordinate": {"latitude":
        40.48878, "longitude": -106.83759}, "state_code": "CO"}, "display_phone":
        "+1-970-870-0681", "rating_img_url_large": "http://s3-media4.fl.yelpcdn.com/assets/2/www/img/9f83790ff7f6/ico/stars/v1/stars_large_4_half.png",
        "id": "laundry-steamboat-springs", "is_closed": false, "distance": 1628.2967479031108},
        {"is_claimed": true, "rating": 4.5, "mobile_url": "http://m.yelp.com/biz/creekside-cafe-and-grill-steamboat-springs",
        "rating_img_url": "http://s3-media2.fl.yelpcdn.com/assets/2/www/img/99493c12711e/ico/stars/v1/stars_4_half.png",
        "review_count": 231, "name": "Creekside Cafe \u0026 Grill", "snippet_image_url":
        "http://s3-media1.fl.yelpcdn.com/photo/1tVH5QjKhIFhjBZSbF8avw/ms.jpg", "rating_img_url_small":
        "http://s3-media2.fl.yelpcdn.com/assets/2/www/img/a5221e66bc70/ico/stars/v1/stars_small_4_half.png",
        "url": "http://www.yelp.com/biz/creekside-cafe-and-grill-steamboat-springs",
        "categories": [["American (Traditional)", "tradamerican"], ["Breakfast \u0026
        Brunch", "breakfast_brunch"]], "menu_date_updated": 1443593183, "phone": "9708794925",
        "snippet_text": "Only one thing to say: \n\nEverything is exact as you''d
        want it.  Nothing is extravagant but everything is perfect!", "image_url":
        "http://s3-media1.fl.yelpcdn.com/bphoto/koI4sLmxp9hjq8T4tVzZ6Q/ms.jpg", "location":
        {"city": "Steamboat Springs", "display_address": ["131 11th St", "Steamboat
        Springs, CO 80487"], "geo_accuracy": 8.0, "postal_code": "80487", "country_code":
        "US", "address": ["131 11th St"], "coordinate": {"latitude": 40.4887505, "longitude":
        -106.8373871}, "state_code": "CO"}, "display_phone": "+1-970-879-4925", "rating_img_url_large":
        "http://s3-media4.fl.yelpcdn.com/assets/2/www/img/9f83790ff7f6/ico/stars/v1/stars_large_4_half.png",
        "menu_provider": "single_platform", "id": "creekside-cafe-and-grill-steamboat-springs",
        "is_closed": false, "distance": 1627.7694014545802}, {"is_claimed": false,
        "rating": 4.0, "mobile_url": "http://m.yelp.com/biz/mahogany-ridge-brewery-and-grill-steamboat-springs",
        "rating_img_url": "http://s3-media4.fl.yelpcdn.com/assets/2/www/img/c2f3dd9799a5/ico/stars/v1/stars_4.png",
        "review_count": 219, "name": "Mahogany Ridge Brewery \u0026 Grill", "snippet_image_url":
        "http://s3-[...]
[...]
