---
http_interactions:
- request:
    method: get
    uri: https://api.instagram.com/v1/users/self/feed.json?access_token=2218117162.f8d8329.6a244335a9794c3e9a9c3fcfd590f06c
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token="2218117162.f8d8329.6a244335a9794c3e9a9c3fcfd590f06c"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Remaining:
      - '4995'
      Content-Language:
      - en
      X-Ratelimit-Limit:
      - '5000'
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"pagination":{},"meta":{"code":200},"data":[]}'
  recorded_at: Thu, 01 Oct 2015 01:30:46 GMT
- request:
    method: get
    uri: https://api.instagram.com/v1/media/popular.json?access_token=2218117162.f8d8329.6a244335a9794c3e9a9c3fcfd590f06c
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token="2218117162.f8d8329.6a244335a9794c3e9a9c3fcfd590f06c"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Remaining:
      - '4994'
      Content-Language:
      - en
      X-Ratelimit-Limit:
      - '5000'
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"meta":{"code":200},"data":[{"attribution":null,"tags":[],"type":"image","location":null,"comments":{"count":91,"data":[{"created_time":"1443660926","text":"@enchinadaok  te
        invitamos a seguirnos \u003c3","from":{"username":"rocker.love","profile_picture":"http:\/\/photos-d.ak.instagram.com\/hphotos-ak-xaf1\/t51.2885-19\/s150x150\/11939533_1474848856155307_46352831_a.jpg","id":"1981326135","full_name":"Rocker
        Love"},"id":"1085829015062787875"},{"created_time":"1443661510","text":"\ud83d\ude0d\ud83d\ude0d\ud83d\ude0d\ud83d\ude0d\ud83d\ude0d\ud83d\ude0d
        @pr0fugos_","from":{"username":"fraannnr_","profile_picture":"http:\/\/photos-d.ak.instagram.com\/hphotos-ak-xfa1\/t51.2885-19\/s150x150\/12070682_976693929038939_805556928_a.jpg","id":"336416416","full_name":"fran\ud83c\udf3c"},"id":"1085833906225231104"},{"created_time":"1443661790","text":"\ud83d\udc48
        SEGUINOS\ud83d\u[...]
- request:
    method: get
    uri: http://api.yelp.com/v2/search?limit=3&ll=41.875792,-87.618944,,,&term=food
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="h4AJtWLONmumqjm_JIZiJw", oauth_nonce="2362a70493b92cbc3890aab8a176ef7f",
        oauth_signature="PrOviepPbNYTsfJkI6Ajt0uHP9I%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1443663047", oauth_token="P9Kmdzp_N_nAgE4NCZk4UCOFZSNONG3i",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Node:
      - 10-70-145-10-eucentral1bprod, api_com
      Content-Type:
      - application/json; charset=UTF-8
      X-Mode:
      - ro
      X-Proxied:
      - 10-70-0-202-eucentral1aprod
    body:
      encoding: ASCII-8BIT
      string: '{"region": {"span": {"latitude_delta": 0.00558250000000271, "longitude_delta":
        0.015666089999996302}, "center": {"latitude": 41.878262500000005, "longitude":
        -87.62606495}}, "total": 3388, "businesses": [{"is_claimed": true, "rating":
        4.5, "mobile_url": "http://m.yelp.com/biz/cafecito-chicago", "rating_img_url":
        "http://s3-media2.fl.yelpcdn.com/assets/2/www/img/99493c12711e/ico/stars/v1/stars_4_half.png",
        "review_count": 991, "name": "Cafecito", "snippet_image_url": "http://s3-media3.fl.yelpcdn.com/photo/MsaRG7Quyis29rKIP70Afw/ms.jpg",
        "rating_img_url_small": "http://s3-media2.fl.yelpcdn.com/assets/2/www/img/a5221e66bc70/ico/stars/v1/stars_small_4_half.png",
        "url": "http://www.yelp.com/biz/cafecito-chicago", "categories": [["Coffee
        \u0026 Tea", "coffee"], ["Cuban", "cuban"]], "menu_date_updated": 1442016320,
        "phone": "3129222233", "snippet_text": "If not for the otherworldly Montreal-smoked
        pastrami at Fumare Meats in the French Market, the Loop''s Cafecito might
        get my vote for best sandwich in...", "image_url": "http://s3-media4.fl.yelpcdn.com/bphoto/vI90uCRaG01myk1rmUVDKA/ms.jpg",
        "location": {"cross_streets": "Wabash and LaSalle", "city": "Chicago", "display_address":
        ["26 E Congress Pkwy", "South Loop", "Chicago, IL 60605"], "geo_accuracy":
        9.5, "neighborhoods": ["South Loop"], "postal_code": "60605", "country_code":
        "US", "address": ["26 E Congress Pkwy"], "coordinate": {"latitude": 41.875725,
        "longitude": -87.626566}, "state_code": "IL"}, "display_phone": "+1-312-922-2233",
        "rating_img_url_large": "http://s3-media4.fl.yelpcdn.com/assets/2/www/img/9f83790ff7f6/ico/stars/v1/stars_large_4_half.png",
        "menu_provider": "single_platform", "id": "cafecito-chicago", "is_closed":
        false, "distance": 631.1080676712907}, {"is_claimed": true, "rating": 4.5,
        "mobile_url": "http://m.yelp.com/biz/saucy-porka-chicago", "rating_img_url":
        "http://s3-media2.fl.yelpcdn.com/assets/2/www/img/99493c12711e/ico/stars/v1/stars_4_half.png",
        "review_count": 349, "name": "Saucy Porka", "snippet_image_url": "http://s3-media2.fl.yelpcdn.com/photo/-QmW3qKOQtAPLTOMTtB60g/ms.jpg",
        "rating_img_url_small": "http://s3-media2.fl.yelpcdn.com/assets/2/www/img/a5221e66bc70/ico/stars/v1/sta[...]
