---
http_interactions:
- request:
    method: get
    uri: https://api.instagram.com/v1/users/self/feed.json?access_token=251122079.4e0d23b.6713691cd7384d7b95b00ed45c4edf85
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token="251122079.4e0d23b.6713691cd7384d7b95b00ed45c4edf85"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Remaining:
      - '4995'
      Content-Language:
      - en
      X-Ratelimit-Limit:
      - '5000'
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"pagination":{"next_url":"https:\/\/api.instagram.com\/v1\/users\/self\/feed?access_token=251122079.4e0d23b.6713691cd7384d7b95b00ed45c4edf85\u0026max_id=1084302166765624264_31569117","next_max_id":"1084302166765624264_31569117"},"meta":{"code":200},"data":[{"attribution":null,"tags":["vanlife"],"type":"image","location":null,"comments":{"count":106,"data":[{"created_time":"1443657162","text":"@adam_slawter","from":{"username":"wanderlust1106","profile_picture":"http:\/\/scontent.cdninstagram.com\/hphotos-xfa1\/t51.2885-19\/s150x150\/11906279_670849386348796_2054805627_a.jpg","id":"7153549","full_name":"Maggie"},"id":"1085797437513770337"},{"created_time":"1443657172","text":"@kt_bee7
        us","from":{"username":"grb279","profile_picture":"http:\/\/scontent.cdninstagram.com\/hphotos-xpt1\/t51.2885-19\/10683920_603304159780969_1319708882_a.jpg","id":"181595680","full_name":"Greg
        Brown"},"id":"1085797522297431399"},{"created_time":"1443657278","text":"@keeliaerin
        and don''t miss the sheets","from":{"username":"char.__.lotte","profile_picture":"http:\/\/scontent.cdninstagram.co[...]
[...]
- request:
    method: get
    uri: http://api.yelp.com/v2/search?limit=3&ll=39.186757604,-106.820862943,,,&term=food
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="h4AJtWLONmumqjm_JIZiJw", oauth_nonce="1fccbc63fa94816437bf9f3e17ab5c3a",
        oauth_signature="sOJ%2BE2OZw0dZ2Z9%2FAxMkhCskEA8%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1443657855", oauth_token="P9Kmdzp_N_nAgE4NCZk4UCOFZSNONG3i",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Node:
      - 10-70-111-44-eucentral1aprod, api_com
      Content-Type:
      - application/json; charset=UTF-8
      X-Mode:
      - ro
      X-Proxied:
      - 10-70-2-28-eucentral1bprod
    body:
      encoding: ASCII-8BIT
      string: '{"region": {"span": {"latitude_delta": 0.0038119458414342944, "longitude_delta":
        0.003094163024684349}, "center": {"latitude": 39.1884903066552, "longitude":
        -106.8194565052615}}, "total": 134, "businesses": [{"is_claimed": true, "rating":
        4.5, "mobile_url": "http://m.yelp.com/biz/white-house-tavern-aspen-3", "rating_img_url":
        "http://s3-media2.fl.yelpcdn.com/assets/2/www/img/99493c12711e/ico/stars/v1/stars_4_half.png",
        "review_count": 186, "name": "White House Tavern", "snippet_image_url": "http://s3-media2.fl.yelpcdn.com/photo/HHKk6qjbqxJtP2Si8t6yEw/ms.jpg",
        "rating_img_url_small": "http://s3-media2.fl.yelpcdn.com/assets/2/www/img/a5221e66bc70/ico/stars/v1/stars_small_4_half.png",
        "url": "http://www.yelp.com/biz/white-house-tavern-aspen-3", "categories":
        [["Bars", "bars"], ["Burgers", "burgers"], ["Sandwiches", "sandwiches"]],
        "phone": "9709251007", "snippet_text": "This was one of the few places in
        Aspen that we found the service to be on par with the quality of the food
        and the price.  We had a lot of really bad...", "image_url": "http://s3-media3.fl.yelpcdn.com/bphoto/TToCJPFin93JoUAQ0rj3qQ/ms.jpg",
        "location": {"city": "Aspen", "display_address": ["302 E Hopkins Ave", "Aspen,
        CO 81611"], "geo_accuracy": 9.5, "postal_code": "81611", "country_code": "US",
        "address": ["302 E Hopkins Ave"], "coordinate": {"latitude": 39.1902230093104,
        "longitude": -106.820422410965}, "state_code": "CO"}, "display_phone": "+1-970-925-1007",
        "rating_img_url_large": "http://s3-media4.fl.yelpcdn.com/assets/2/www/img/9f83790ff7f6/ico/stars/v1/stars_large_4_half.png",
        "id": "white-house-tavern-aspen-3", "is_closed": false, "distance": 387.2013927760871},
        {"is_claimed": true, "rating": 4.5, "mobile_url": "http://m.yelp.com/biz/520-grill-aspen",
        "rating_img_url": "http://s3-media2.fl.yelpcdn.com/assets/2/www/img/99493c12711e/ico/stars/v1/stars_4_half.png",
        "review_count": 79, "name": "520 Grill", "snippet_image_url": "http://s3-media4.fl.yelpcdn.com/photo/sYv9NglCL0KIHT_f03eMCg/ms.jpg",
        "rating_img_url_small": "http://s3-media2.fl.yelpcdn.com/assets/2/www/img/a5221e66bc70/ico/stars/v1/stars_small_4_half.png",
        "url": "http://www.yelp.com/biz/520-grill-aspen", "categories": [["American
        (Traditional)", "tradamerican"]], "menu_date_updated": 1443630917, "phone":
        "9709259788", "snippet_text": "I saw a review for the 520 Grill on yelp and
        decided to give it a try after a long day of hiking.  My husband and I stopped
        in on a Thursday night and we...", "image_url": "http://s3-media3.fl.yelpcdn.com/bphoto/o6tKQe5fkRB0pWHtV4g83g/ms.jpg",
        "location": {"city": "Aspen", "display_address": ["520 E Cooper Ave", "Aspen,
        CO 81611"], "geo_accuracy": 8.0, "postal_code": "81611", "country_code": "US",
        "address": ["520 E Cooper Ave"], "coordinate": {"latitude": 39.188095, "longitude":
        -106.818168}, "state_code": "CO"}, "display_phone": "+1-970-925-9788", "rating_img_url_large":
        "http://s3-media4.fl.yelpcdn.com/assets/2/www/img/9f83790ff7f6/ico/stars/v1/stars_large_4_half.png",
        "menu_provider": "single_platform", "id": "520-grill-aspen", "is_closed":
        false, "distance": 281.85684024145826}, {"is_claimed": true, "rating": 4.0,
        "mobile_url": "http://m.yelp.com/biz/the-big-wrap-aspen", "rating_img_url":
        "http://s3-media4.fl.yelpcdn.com/assets/2/www/img/c2f3dd9799a5/ico/stars/v1/stars_4.png",
        "review_count": 77, "name": "The Big Wrap", "snippet_image_url": "http://s3-media3.fl.yelpcdn.com/photo/Sh_tZqIfhWHdvbAQTf5ofQ/ms.jpg",
        "rating_img_url_small": [...]
[...]
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=St%20Charles%20IL&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "Saint Charles",
                       "short_name" : "St. Charles",
                       "types" : [ "locality", "political" ]
                    },
                    {
                       "long_name" : "St. Charles Township",
                       "short_name" : "St Charles Township",
                       "types" : [ "administrative_area_level_3", "political" ]
                    },
                    {
                       "long_name" : "Kane County",
                       "short_name" : "Kane County",
                       "types" : [ "administrative_area_level_2", "political" ]
                    },
                    {
                       "long_name" : "Illinois",
                       "short_name" : "IL",
                       "types" : [ "administrative_area_level_1", "political" ]
                    },
                    {
                       "long_name" : "United States",
                       "short_name" : "US",
                       "types" : [ "country", "political" ]
                    }
                 ],
                 "formatted_address" : "St. Charles, IL, USA",
                 "geometry" : {
                    "bounds" : {
                       "northeast" : {
                          "lat" : 41.961208,
                          "lng" : -88.24956200000001
                       },
                       "southwest" : {
                          "lat" : 41.896927,
                          "lng" : -88.3896
                       }
                    },
                    "location" : {
                       "lat" : 41.9141945,
                       "lng" : -88.3086867
                    },
                    "location_type" : "APPROXIMATE",
                    "viewport" : {
                       "northeast" : {
                          "lat" : 41.961208,
                          "lng" : -88.24956200000001
                       },
                       "southwest" : {
                          "lat" : 41.896927,
                          "lng" : -88.3896
                       }
                    }
                 },
                 "place_id" : "ChIJd7yvGnseD4gRohnpy_55FWE",
                 "types" : [ "locality", "political" ]
              }
           ],
           "status" : "OK"
        }
  recorded_at: Thu, 01 Oct 2015 00:04:19 GMT
[...]
- request:
    method: get
    uri: https://api.instagram.com/v1/locations/search.json?access_token=251122079.4e0d23b.6713691cd7384d7b95b00ed45c4edf85&lat=41.9141945&lng=-88.3086867
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token="251122079.4e0d23b.6713691cd7384d7b95b00ed45c4edf85"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Remaining:
      - '4993'
      Content-Language:
      - en
      X-R[...]
- request:
    method: get
    uri: https://api.instagram.com/v1/media/search.json?access_token=251122079.4e0d23b.6713691cd7384d7b95b00ed45c4edf85&lat=41.9141945&lng=-88.3086867
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token="251122079.4e0d23b.6713691cd7384d7b95b00ed45c4edf85"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Remaining:
      - '4992'
      Content-Language:
      - en
      X-Ratelimit-Limit:
      - '5000'
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"meta":{"code":200},"data":[{"attribution":null,"tags":[],"type":"image","location":{"latitude":41.919707445,"name":"Hunt
        Club Park","longitude":-88.300256931,"id":29180873},"comments":{"count":0,"data":[]},"filter":"Normal","created_time":"1443657323","link":"https:\/\/instagram.com\/p\/8RiD3OBmDU\/","likes":{"count":1,"data":[{"username":"adrianagct","profile_picture":"http:\/\/scontent.cdninstagram.com\/hphotos-xfp1\/t51.2885-19\/11085121_952934164719721_2116818291_a.jpg","id":"354162940","full_name":"Adriana
        Gamero Cottle"}]},"images":{"low_resolution":{"url":"https:\/\/scontent.cdninstagram.com\/hphotos-xaf1\/t51.2885-15\/s320x320\/e15\/12081100_1684017981857468_1524728034_n.jpg","width":320,"height":320},"thumbnail":{"url":"https:\/\/scontent.cdninstagram.com\/hphotos-xaf1\/t51.2885-15\/s150x150\/e15\/12081100_1684017981857468_1524728034_n.jpg","width":150,"height":150},"standard_resolution":{"url":"https:\/\/scontent.cdninstagram.com\/hphotos-xaf1\/t51.2885-15\/e15\/12081100_1684017981857468_1524728034_n.jpg","width":640,"height":640}},"users_in_photo":[],"caption":{"created_time":"1443657323","text":"Hola
        soy el oto\u00f1o","from":{"username":"almu.hale","profile_picture":"http:\/\/photos-d.ak.instagram.com\/hphotos-ak-xpa1\/t51.2885-19\/10732048_641441255991475_1311625893_a.jpg","id":"2120060407","full_name":"Almudena
        Hale\/ChoyVegaChristie"},"id":"1085798787106366023"},"user_has_liked":false,"id":"1085798784203907284_2120060407","user":{"username":"almu.hale","profile_picture":"http:\/\/photos-d.ak.instagram.com\/hphotos-ak-xpa1\/t51.2885-19\/10732048_641441255991475_1311625893_a.jpg","id":"2120060407","full_name":"Almudena
        Hale\/ChoyVegaChristie"}},{"attribution":null,"tags":["september2015","homesweet60174","stcharlesil","favorite4yearold","theojoseph"],"type":"image","location":{"latitude":41.918695947,"name":"Pottawatami
        Park","longitude":-88.315017135,"id":26345561},"comments":{"count":0,"data":[]},"filter[...]
[...]
