@import url(https://fonts.googleapis.com/css?family=Roboto|Amatic+SC|Sue+Ellen+Francisco);
// font-family: 'Roboto', sans-serif;
// font-family: 'Amatic SC', cursive;
// font-family: 'Sue Ellen Francisco', cursive;

html,
body {
  height: 100%;
}

body {
  // padding-top: 42px;
  background-color: #fafafa;
}
.modal.in {
   display:block;
}
.blue {
  color: #125688;
}
.navbar-brand {
  font-family: 'Amatic SC', cursive;
  font-size: 40px;
  color: #c1c727;
}

.lobster {
  font-family: 'Amatic SC', cursive;
}

.ellen-cursive {
  font-family: 'Sue Ellen Francisco', cursive;
}

.navbar-default, .panel-default > .panel-heading, .panel-footer {
  background-color: #333333;
}

.navbar-default .brand a, .navbar-default a, .navbar-default a:visited, a, a:visited, .navbar-default .navbar-nav > li > a, .navbar-default .navbar-nav > li > a:visited {
  color: #c1c727;
}

.navbar-default a:hover, a:hover, .navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus  {
    color: #94a60a;
}

.navbar-form {
  margin-top: 15px;
  margin-left: 30px;
}
.navbar-form .form-control {
  height: 20px;
  border-radius: 10px;
}

.panel, .modal-content {
  border-radius: 0px;
}

.dots {
  padding-top: 5px;
}

#pending-search .modal-body {
  background: url(image-path("forest.jpg"));
  background-size: cover;
  -moz-background-size: cover;
}

#pending-feed-update .modal-body {
  background: url(image-path("park.jpg"));
  background-size: cover;
  -moz-background-size: cover;
}

.spinner {
  margin: 20px auto 0;
  width: 70px;
  text-align: center;
}

.spinner > div {
  width: 18px;
  height: 18px;
  background-color: #ffffff;

  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bouncedelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  } 40% {
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
  }
}
a#heart {
  padding-top: 7px;
  :hover {
    color: red;
  }
}

#comment .form-control {
  border-radius: 0px;
  border: none;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: none;
  -webkit-transition: none;
  -o-transition: none;
  transition: none;
}

.carousel { z-index: -99; } /* keeps this behind all content */
.carousel .item {
    position: fixed;
    width: 100%; height: 100%;
    -webkit-transition: opacity 1s;
    -moz-transition: opacity 1s;
    -ms-transition: opacity 1s;
    -o-transition: opacity 1s;
    transition: opacity 1s;

}
.carousel .one {
    background: url(image-path("desert-stars.jpg"));
    background-size: cover;
    -moz-background-size: cover;
}
.carousel .two {
    background: url(image-path("surfer-sunset.jpg"));
    background-size: cover;
    -moz-background-size: cover;
}
.carousel .three {
    background: url(image-path("mountain-stars.jpg"));
    background-size: cover;
    -moz-background-size: cover;
}
.carousel .active.left {
    left:0;
    opacity:0;
    z-index:2;
}

.landing {
  margin-top: 20%;
}

.landing.well {
  background-color: rgba(245, 245, 245, 0.2);
  border: none;
  border-radius: 0px;
  p {
    color: #ffffff;
  }
  .btn {
    border-radius: 0px;
    color: #ffffff;
  }
    .btn-default {
      background-color: transparent;
    }
}

.logo {
  font-size: 50px;
  color: #94a60a;
}

.white {
  color: #ffffff;
}

::-webkit-input-placeholder {
 text-align: center;
}

:-moz-placeholder { /* older Firefox*/
 text-align: center;
}

::-moz-placeholder { /* Firefox 19+ */
 text-align: center;
}

:-ms-input-placeholder {
 text-align: center;
}

.profile .btn {
  margin-top: 24px;
}

.stats .col-sm-4 {
  padding-left: 0px;
}
.user-search h5 {
  margin-top: 4px;
  margin-bottom: 4px;
}

.pb-30 {
  padding-bottom: 30px;
}

div #map {
position: absolute;
top: 0;
bottom: 0;
width: 100%;
height: 300px;
}
