<div class="form-group">
  <%= form_tag("/location_search", method: "get", id: "location-search", data: "pending-search") do%>
    <%= label_tag :location, "" %>
    <%= text_field_tag :location, nil, class: 'form-control', placeholder: 'search locations' %>
    <%= submit_tag "", class: 'hidden', method: "get", value: 'search-locations' %>
  <% end %>
</div>
