<!-- Modal -->
<div class="modal fade" id="pending-search" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <h1 class="text-center ellen-cursive white">We're searchin' inspiring locations so</h1>
        <h1 class="text-center ellen-cursive white">you spend less time wonderrin'</h1>
        <h1 class="text-center ellen-cursive white">and more time</h1>
        <div class="spinner">
          <div class="bounce1"></div>
          <div class="bounce2"></div>
          <div class="bounce3"></div>
        </div>
        <h1 class="text-center logo lobster">Adventurrin!</h1>
      </div>
    </div>
  </div>
</div>
