<nav class="navbar navbar-default navbar-static-top" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <%= link_to "Adventurrin", feed_path, class:"navbar-brand navbar-left", id:"update-feed", data: "pending-feed-update" %>
      </div>
      <div class="navbar-form navbar-left">
        <%= render partial: 'layouts/location_search_form' %>
      </div>
      <ul class="nav navbar-nav navbar-right">
        <% if current_user %>
        <li>
          <%= link_to "Log out", logout_path %>
        </li>
        <% end %>
      </ul>
      <!-- </div> -->
    </div>
    <!-- /.container -->
  </nav>
